
button {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 8px;
}

input[type="file"] {
  display: none;
}

.vertical-table-align {
  vertical-align: middle;
}

mat-icon {
  margin-right: 8px;
}

.flex-align {
  display: flex;
  justify-content: left;
}
