<app-field-title [field]="field"></app-field-title>

<mat-form-field appearance="outline">
  <input  type="text" matInput [matAutocomplete]="auto" [matChipInputFor]="chipList"
    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)" [formControl]="myControl">
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete">
  <!--   <div [ngSwitch]="field.connection.source">
    <div *ngSwitchCase="'departments'">
      <app-departments [options]="(filteredOptions$ | async)"></app-departments>
    </div>
    <div *ngSwitchCase="'users'">
      <app-users [options]="(filteredOptions$ | async)"></app-users>
    </div>
    <div *ngSwitchCase="'tags'">
      <app-tags [options]="(filteredOptions$ | async)"></app-tags>
    </div>
    <div *ngSwitchDefault>output2</div>
  </div> -->
  <div>
    <mat-option *ngFor="let option of (filteredOptions$ | async)" [value]="option.username">
      <span [ngSwitch]="field.connection.source">
        <p *ngSwitchCase="'departments'">
          <b>{{ option.username }}</b>
        </p>
        <p *ngSwitchCase="'users'">
          <b>{{ option.forename }} {{ option.surname }}</b>
          <small> | {{ option.username }}</small>
        </p>
        <p *ngSwitchDefault>
          ERROR
        </p>
      </span>
    </mat-option>
  </div>
  <mat-option *ngFor="let option of (filteredOptions$ | async)" [value]="option.name">
    <span [ngSwitch]="field.connection.source">
      <p *ngSwitchCase="'tags'">
        {{ option.name }}
        <p *ngSwitchDefault>
          ERROR
        </p>
    </span>
  </mat-option>
</mat-autocomplete>

<mat-chip-list #chipList [(ngModel)]="selectedChips">
  <mat-chip *ngFor="let chip of selectedChips" color="primary" [removable]="removable" selected
    (removed)="remove(chip)">
    {{ chip }}
    <mat-icon *ngIf="removable" matChipRemove>cancel</mat-icon>
  </mat-chip>
</mat-chip-list>
