<!-- <div align="center">

  <img src="../../../assets/img/welcome.png">


</div> -->
<h2 align="center">Herzlich Willkommen zur neuen Ideeneingabe (v0.1)</h2>
<h4>Was bedeuted dieses Tool für mich zum aktuellen Zeitpunkt?</h4>
<p>

Diese Version ist eine <b>Testversion</b> und daher ausdrücklich <b>NICHT</b> für die produktive Eingabe von Ideen zu verwenden.
Sie läuft ausschließlich im Testsystem des KVP's und dient der vorzeitigen Optimierung der neuen Ideeneingabe durch ihr Feedback.
Eine finale Veröffentlichung ist für das vierte Quartal 2019 angestrebt.
</p>

<h4>Wo kann ich Feedback zu der Applikation einreichen?</h4>
<p>
Hierfür haben wir ein spezielles Formular eingerichtet.
Wir würden uns freuen wenn du uns Feedback aller Art darüber zukommen lassen könntest

</p>
<button [routerLink]="['/feedback']" (click)="closeDialog()" mat-flat-button color="primary">Feedback einreichen</button>
<br>
<button (click)="closeDialog()" mat-flat-button color="accent">schließen</button>

<br>

