
:host {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    min-height: 210px;
    margin: 16px auto;

  }

  mat-card {
    border-radius: 8px;
    z-index: 2;
    background: #fafafa !important;
    border: #dadce0 1px solid;
  }



  img {
    margin-top: -80px;
    max-width: 40vh;
    z-index: 1;
  }