
<mat-toolbar class="footer">
  <div class="spacer"></div>
  <button mat-flat-button color="primary" (click)="goBack()" class="button-global-1">{{ 'BUTTON_BACK' | translate }}</button>
  <button class="fab" mat-flat-button color="primary" (click)="fireSuccess()">
    <mat-icon class="mat-icon-fab">save_outline</mat-icon>
    {{ 'RESULT.BUTTON.TRANSFER' | translate }}
  </button>
  <button mat-flat-button color="primary" (click)="goForward()" class="button-global-2">{{ 'BUTTON_NEXT' | translate }}</button>
  <div class="spacer"></div>
</mat-toolbar>
