$circle-length: 151px;
$check-length: 36px;

:host {
  max-width: 800px;
  min-height: 210px;
  margin: 16px auto;

}

@keyframes scaleAnimation {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes drawCircle {
  0% {
    stroke-dashoffset: $circle-length;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawCheck {
  0% {
    stroke-dashoffset: $check-length;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#successAnimationCircle {
  stroke-dasharray: $circle-length $circle-length;
  stroke: #0066cc;
}

#successAnimationCheck {
  stroke-dasharray: $check-length $check-length;
  stroke: #ffffff;
}

#successAnimationResult {
  fill: #0066CC;
  opacity: 0;
}

#successAnimation.animated {
  animation: 1s ease-out 0s 1 both scaleAnimation;

  #successAnimationCircle {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle,
      0.3s linear 0.9s 1 both fadeOut;
  }

  #successAnimationCheck {
    animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck,
      0.3s linear 0.9s 1 both fadeOut;
  }

  #successAnimationResult {
    animation: 0.3s linear 0.9s both fadeIn;
  }
}


@keyframes showbutton {
  from {
    opacity: 0;
    height: auto;
  }

  to {
    opacity: 1;
    height: auto;
  }
}

@-webkit-keyframes showbutton {
  from {
    opacity: 0;
    height: auto;
  }

  to {
    opacity: 1;
    height: auto;
  }
}

#button1 {
  opacity: 0;
  height: 0;
  animation-name: showbutton;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
  animation-iteration-count: 1;
  animation-play-state: running;

  -webkit-animation-name: showbutton;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 0.7s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-play-state: running;
}

#button2 {
  opacity: 0;
  height: 0;
  animation-name: showbutton;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-play-state: running;

  -webkit-animation-name: showbutton;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-play-state: running;
}

#button3 {
  opacity: 0;
  height: 0;
  animation-name: showbutton;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
  animation-iteration-count: 1;
  animation-play-state: running;

  -webkit-animation-name: showbutton;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 0.7s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-play-state: running;
}

button {
  margin: 4px;
}

mat-card-title {
  margin-top: 8px;
}