<div class="bottom-spacer" >
  <span >
    <div>
      <app-field-title [field]="field"></app-field-title>
      <span>
        <button mat-button mat-flat-button color="primary" (click)="openCropper()">{{'BUTTON_UPLOAD' | translate}}</button>
        <div [hidden]="!imageExists" class="maintain-button-margin">
          <button mat-button mat-stroked-button color="primary" (click)="deleteImage()">{{'BUTTON_DELETE' | translate}}</button>
        </div>
      </span>
    </div>

    <div class="spacer"></div>

    <div >
      <img [src]="image" />
    </div>
  </span>

</div>
