.mat-form-field {
  max-height: 80px;
  min-width: 250px;
  max-width: 350px;
  text-align: left;
  font-size: 12px;
  

}

.em {
  display: flex;
}

mat-chip-list {
  margin-left: 20px;
  margin-top: 13px
}

.title {
    font: bold;
    margin-bottom: 8px;
}




