:host {
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
}

[mat-menu-item] {
  display: flex;
  align-items: center;
}

[mat-menu-item].active {

}

[mat-menu-item] img {
  margin-right: 8px;
}

.trigger {
  padding-bottom: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-height: 40px;
  border-radius: 4px;
  cursor: pointer;
}

