<app-help-panel [description]="chapter.description" [imgpath]="imgpath"></app-help-panel>
<div class="border-color" *ngFor="let item of fields">
  <div *ngIf="item; else elseTemplate">
    <mat-card class="mat-elevation-z2">
      <span [ngSwitch]="fieldType(item)">
        <p *ngSwitchCase="'user'">
          <app-dropdown [field]="item" [forminputs]="forminputs"></app-dropdown>
        </p>
        <p *ngSwitchCase="'text'">
          <app-freetext [field]="item" [forminputs]="forminputs"></app-freetext>
        </p>
        <p *ngSwitchCase="'date'">
          <app-date [field]="item" [forminputs]="forminputs"></app-date>
        </p>
        <p *ngSwitchCase="'image'">
          <app-image [field]="item" [forminputs]="forminputs"></app-image>
        </p>
        <p *ngSwitchCase="'selector'">
            <app-selector [field]="item" [forminputs]="forminputs"></app-selector>
          </p>
        <p *ngSwitchDefault>
          <app-component-not-found></app-component-not-found>
        </p>
      </span>
    </mat-card>
  </div>
  <ng-template #elseTemplate>
    <app-component-not-found></app-component-not-found>
  </ng-template>
</div>
