:host {
  display: flex;
  flex-direction: column;
  margin: 16px auto;
}
iframe {
  margin-top: 108px;

}
div {

  background-color: #06c;

  bottom: 16px;

  display: flex;
  align-items: center;
  justify-content: center
}

@import "src/app/theme";

.mat-icon-fab {
  margin-left: -2px;
  margin-right: 5px;
}

.footer {
  background-color: $roche-blue-grey;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center
}

.fab {
  height: 60px;
  bottom: 32px;
  border-radius: 100vh;
  border: 5px solid #fff
}

button {
  margin: 16px;
}
