<mat-toolbar class="footer">
    <div class="spacer"></div>

    <button class="fab" mat-flat-button color="primary" [routerLink]="['/']" >
      <mat-icon class="mat-icon-fab">home</mat-icon>
      {{ 'RESULT.SUCCESS.BUTTON.CENTER' | translate }}
    </button>

    <div class="spacer"></div>
  </mat-toolbar>

<iframe
  src="https://docs.google.com/forms/d/e/1FAIpQLSebOx9T5lsmKCQ0WV4qcs1R-peos0qEkI0xcZgJ82ICKHc1jQ/viewform?embedded=true"
  align="middle" height="800px" frameborder="0" marginheight="0" marginwidth="0">Wird geladen...</iframe>
