:host {
  display: block;

}

.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.content {
  z-index: 2;

  overflow: auto;
  //  background: #dadce0;
}

mat-toolbar {
  z-index: 2;

  min-height: 108px;
  border-bottom: #dadce0 1px solid;
  position: fixed;

  background: #fff !important;

}

.footer-toolbar {
  bottom: 0;
  filter: blur(8px);
  -webkit-filter: blur(8px);

}
