.size {
  display: flex;
  flex-direction: column;

}

.size>* {
  width: 100%;

}


.title {
    font-weight: bold;
    margin-bottom: 8px;
}

mat-form-field{

  text-align: left;
  font-size: 15px;


}