/* You can add global styles to this file, and also import other style files */

@import 'src/app/theme';

::-webkit-scrollbar {
  display: none;
}

html, body {
  height: 100%;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background: linear-gradient(
      12deg,
      #fff 0%,
      #fff 50%,
      rgba($roche-blue, 0.2) 50%,
      rgba($roche-blue, 0.2) 100%

  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.layout-horizontal {
  display: flex;
  flex-direction: row;
}

.layout-vertical {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

mat-list-item:hover {
  background: #eee;
}

.my-panel .mat-dialog-container {
  overflow: hidden;
  border-radius: 16px;
  padding: 20px;
  width: 600px;
}

