<div class="title">{{ field.title | translate }}</div>
<p> {{ field.description | translate }}</p>
<mat-form-field appearance="outline">
  <input class="full-width" type="text" placeholder="" matInput [matAutocomplete]="auto" [matChipInputFor]="chipList"
    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)" [formControl]="myControl">
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete">
<div *ngIf="(filteredOptions$.length | async) == 0">
  <mat-option *ngFor="let option of (filteredOptions$ | async)" [value]="options[0]">
    <span [ngSwitch]="field.connection">
      <p *ngSwitchCase="'departments'">
        <b>{{ option[0] }}</b>
      </p>
      <p *ngSwitchCase="'users'">
        <b>{{ option[1] }} {{ option[2] }}</b>
        <small> | {{ option[0] }}</small>
      </p>
      <p *ngSwitchDefault>
        ERROR
      </p>
    </span>
  </mat-option>
</div>
  <mat-option *ngFor="let option of (filteredOptions$ | async)" [value]="option.name">
    <span [ngSwitch]="field.connection">
      <p *ngSwitchCase="'tags'">
        {{ option.name }}
        <p *ngSwitchDefault>
          ERROR
        </p>
    </span>
  </mat-option>
</mat-autocomplete>

<mat-chip-list #chipList [(ngModel)]="selectedChips">
  <mat-chip *ngFor="let chip of selectedChips" color="primary" [removable]="removable" selected
    (removed)="remove(chip)">
    {{ chip }}
    <mat-icon *ngIf="removable" matChipRemove>cancel</mat-icon>
  </mat-chip>
</mat-chip-list>
