mat-form-field{
  max-height: 80px;
  min-width: 300px;
  max-width: 300px;
  text-align: left;
  font-size: 15px;


}

.em {
  display: flex;
}

mat-chip-list {
  margin-left: 20px;
  margin-top: 16px
}



.title {
    font-weight: bold;
    margin-bottom: 8px;
}




