<form [formGroup]="formGroup">
  <mat-horizontal-stepper class="fixed-header" labelPosition="bottom" #stepper>
    <mat-step *ngFor="let step of (config$ | async).config">
      <div class="header">
        <ng-template matStepLabel>{{step.name | translate}}</ng-template>
      </div>
      <app-controller [imgpath]="(config$ | async).imgpath" [chapter]="step" [forminputs]="formGroup"></app-controller>
    </mat-step>
  </mat-horizontal-stepper>
  <app-footer [stepper]=stepper (success)="fireSuccess()"></app-footer>
</form>
